# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# Local API credentials
kma.debug.json
config/kma.config.json

# IDE
.idea/
.vscode/
*.iml

# Store image generator cache
__pycache__/
